// Sizes
$xlarge: 1400px;
$large: 1300px;
$medium : 1200px;
$visible-xs: 768px;
$visible-md: 991px;
$mobile: 767px;
$mobile-xs: 320px;

// colors

$navyBlue : #5E72EA;
$maroon : #993365;
$violet : #453F78;
$light-violet : #484582;
$purple : #90549E;
$blue : #5D71E9;
